<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.thinkgem.jeesite.modules.sys.dao.AdmininfoMapper">
    <select id="findOne" parameterType="String" resultType="com.thinkgem.jeesite.modules.agriculture.entity.Admininfo">
        SELECT
            t.id AS id, 
            t.Uid AS uid, 
            t.name AS name, 
            t.phone AS phone, 
            t.address AS address, 
            t.state AS state, 
            t.LLoginDate AS llogindate,
            t.del_flag as del_flag
        FROM
            admininfo t LEFT JOIN user a ON
            t.uid = a.id
        WHERE
            t.Uid = #{id}
        AND t.del_flag = '0'
    </select>

    <select id="find" parameterType="map" resultType="com.thinkgem.jeesite.modules.agriculture.entity.Admininfo">
        SELECT
            t.id AS id, 
            t.Uid AS uid, 
            t.name AS name, 
            t.phone AS phone, 
            t.address AS address, 
            t.state AS state, 
            t.LLoginDate AS llogindate
        FROM
            admininfo t
        <where>
            t.del_flag = '0'
            <if test="id != null">
        AND t.id = #{id}
            </if>
            <if test="uid != null">
        AND t.Uid = #{uid}
            </if>
            <if test="name != null">
        AND t.name = #{name}
            </if>
            <if test="phone != null">
        AND t.phone = #{phone}
            </if>
            <if test="address != null">
        AND t.address = #{address}
            </if>
            <if test="state != null">
        AND t.state = #{state}
            </if>
            <if test="llogindate != null">
        AND t.LLoginDate = #{llogindate}
            </if>
        </where>
    </select>

    <select id="findMaxById"  resultType="String">
        SELECT
        count(id)
        FROM
        admininfo t
    </select>

    <delete id="deleteOne" parameterType="String">
        DELETE FROM
            admininfo
        WHERE
            id = #{id}
    </delete>

    <delete id="delete" parameterType="com.thinkgem.jeesite.modules.agriculture.entity.Admininfo">
        DELETE FROM
            admininfo
        <where>
            <if test="id != null">
            id = #{id}
            </if>
            <if test="uid != null">
        AND Uid = #{uid}
            </if>
            <if test="name != null">
        AND name = #{name}
            </if>
            <if test="phone != null">
        AND phone = #{phone}
            </if>
            <if test="address != null">
        AND address = #{address}
            </if>
            <if test="state != null">
        AND state = #{state}
            </if>
            <if test="llogindate != null">
        AND LLoginDate = #{llogindate}
            </if>
        </where>
    </delete>

    <insert id="insert" parameterType="com.thinkgem.jeesite.modules.agriculture.entity.Admininfo">
        INSERT INTO
            admininfo
        (
            id, 
            Uid, 
            name, 
            phone, 
            address, 
            state, 
            LLoginDate,
            del_flag
        )
        VALUES 
        (
            #{id}, 
            #{uid}, 
            #{name}, 
            #{phone}, 
            #{address}, 
            #{state}, 
            #{llogindate},
            #{del_flag}
        )
    </insert>

    <update id="update" parameterType="com.thinkgem.jeesite.modules.agriculture.entity.Admininfo">
        UPDATE 
            admininfo
        <set>
            <if test="id != null">
            id = #{id},
            </if>
            <if test="uid != null">
            Uid = #{uid},
            </if>
            <if test="name != null">
            name = #{name},
            </if>
            <if test="phone != null">
            phone = #{phone},
            </if>
            <if test="address != null">
            address = #{address},
            </if>
            <if test="state != null">
            state = #{state},
            </if>
            <if test="llogindate != null">
            LLoginDate = #{llogindate}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>

    <update id="updateWithAllFields" parameterType="com.thinkgem.jeesite.modules.agriculture.entity.Admininfo">
        UPDATE 
            admininfo
        <set>
            id = #{id},
            Uid = #{uid},
            name = #{name},
            phone = #{phone},
            address = #{address},
            state = #{state},
            LLoginDate = #{llogindate}
        </set>
        WHERE
            id = #{id}
    </update>

</mapper>
