<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.thinkgem.jeesite.modules.sys.dao.ClassesMapper">
    <select id="findOne" parameterType="String" resultType="com.thinkgem.jeesite.modules.agriculture.entity.Classes">
        SELECT
            t.id AS id, 
            t.title AS title, 
            t.content AS content, 
            t.postdate AS postdate, 
            t.poster AS poster, 
            t.video AS video, 
            t.del_flag AS delFlag
        FROM
            classes t
        WHERE
            t.id = #{id}
        AND t.del_flag = '0'

    </select>

    <select id="find" parameterType="map" resultType="com.thinkgem.jeesite.modules.agriculture.entity.Classes">
        SELECT
            t.id AS id, 
            t.title AS title, 
            t.content AS content, 
            t.postdate AS postdate, 
            t.poster AS poster, 
            t.video AS video, 
            t.del_flag AS delFlag
        FROM
            classes t
        <where>
            t.del_flag = '0'
            <if test="id != null">
        AND t.id = #{id}
            </if>
            <if test="title != null">
        AND t.title = #{title}
            </if>
            <if test="content != null">
        AND t.content = #{content}
            </if>
            <if test="postdate != null">
        AND t.postdate = #{postdate}
            </if>
            <if test="poster != null">
        AND t.poster = #{poster}
            </if>
            <if test="video != null">
        AND t.video = #{video}
            </if>
            <if test="delFlag != null">
        AND t.del_flag = #{delFlag}
            </if>
        </where>
        ORDER BY t.postdate ASC ,id ASC
    </select>

    <delete id="deleteOne" parameterType="String">
        DELETE FROM
            classes
        WHERE
            id = #{id}
    </delete>

    <delete id="delete" parameterType="com.thinkgem.jeesite.modules.agriculture.entity.Classes">
        DELETE FROM
            classes
        <where>
            <if test="id != null">
            id = #{id}
            </if>
            <if test="title != null">
        AND title = #{title}
            </if>
            <if test="content != null">
        AND content = #{content}
            </if>
            <if test="postdate != null">
        AND postdate = #{postdate}
            </if>
            <if test="poster != null">
        AND poster = #{poster}
            </if>
            <if test="video != null">
        AND video = #{video}
            </if>
            <if test="delFlag != null">
        AND del_flag = #{delFlag}
            </if>
        </where>
    </delete>

    <insert id="insert" parameterType="com.thinkgem.jeesite.modules.agriculture.entity.Classes">
        INSERT INTO
            classes
        (
            id, 
            title, 
            content, 
            postdate, 
            poster, 
            video, 
            del_flag
        )
        VALUES 
        (
            #{id}, 
            #{title}, 
            #{content}, 
            #{postdate}, 
            #{poster}, 
            #{video}, 
            #{delFlag}
        )
    </insert>

    <update id="update" parameterType="com.thinkgem.jeesite.modules.agriculture.entity.Classes">
        UPDATE 
            classes
        <set>
            <if test="id != null">
            id = #{id},
            </if>
            <if test="title != null">
            title = #{title},
            </if>
            <if test="content != null">
            content = #{content},
            </if>
            <if test="postdate != null">
            postdate = #{postdate},
            </if>
            <if test="poster != null">
            poster = #{poster},
            </if>
            <if test="video != null">
            video = #{video},
            </if>
            <if test="delFlag != null">
            del_flag = #{delFlag}
            </if>
        </set>
        WHERE
            id = #{id}
    </update>

    <update id="updateWithAllFields" parameterType="com.thinkgem.jeesite.modules.agriculture.entity.Classes">
        UPDATE 
            classes
        <set>
            id = #{id},
            title = #{title},
            content = #{content},
            postdate = #{postdate},
            poster = #{poster},
            video = #{video},
            del_flag = #{delFlag}
        </set>
        WHERE
            id = #{id}
    </update>

</mapper>
